### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [212]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [213]:
# Read School Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load, encoding="utf-8")
school_data_df.head(50)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [214]:
# Read Student Data File and store into Pandas DataFrames

student_data_df = pd.read_csv(student_data_to_load, encoding="utf-8")
student_data_df.head(7)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80

In [317]:
# Combine the data into a single dataset.  

school_data_complete_df= pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [216]:
# Calculate the total number of schools
#Bring up all unique school names into a data frame. Length of that unique school_name data frame is the 
#total number of schools (found matching with school_data_to_load which is 15 unique school names in the list ) unique_school_name_df=school_data_complete_df["school_name"].unique()

total_number_of_schools=len(unique_school_name_df)
total_number_of_schools

15

In [328]:
#_Calculate_the_total_number_of_students

total_number_of_students=school_data_complete_df["student_name"].count()
total_number_of_students

39170

In [329]:
#Calculate the total budget

total_budget=school_data_df["budget"].sum()
total_budget=f"${total_budget:,.0f}"
total_budget

'$24,649,428'

In [330]:
# Calculate the average math score

average_math_score=round(school_data_complete_df["math_score"].mean())
average_math_score

79

In [331]:
#Calculate the average reading score

average_reading_score=round(school_data_complete_df["reading_score"].mean())
average_reading_score

82

In [332]:
# Calculate the percentage of students with a passing math score (70 or greater)
##_Find_the_students_have_a_maths_score_>=70_from_merged_data_frame_-_school_data_complete_df
##CalculateTotal_number_of_students_passed_is_counted
##_Percentage_of_passing_math_score_=_total_students_>=70/total_students.

In [333]:
stu_passing_math_score_df=school_data_complete_df.loc[school_data_complete_df["math_score"]>=70]
Total_stu_passing_math_score_df=stu_passing_math_score_df["Student ID"].count()
Percentage_of_passing_math_score=(Total_stu_passing_math_score_df/total_number_of_students)*100
Percentage_of_passing_math_score=f"{Percentage_of_passing_math_score:.2f}"
Percentage_of_passing_math_score

'74.98'

In [334]:
# Calculate the percentage of students with a passing reading score (70 or greater)
## Find the students have a reading score >=70 from merged data frame - school data complete df
## Total number of students passed is counted
## Percentage of passing math score = total students >=70/total students.

In [335]:
stu_passing_reading_score_df=school_data_complete_df.loc[school_data_complete_df["reading_score"]>=70]
Total_stu_passing_reading_score_df=stu_passing_reading_score_df["Student ID"].count()
Percentage_of_passing_reading_score=(Total_stu_passing_reading_score_df/total_number_of_students)*100
Percentage_of_passing_reading_score=f"{Percentage_of_passing_reading_score:.2f}"
Percentage_of_passing_reading_score

'85.81'

In [336]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)

Overall_Passing= school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70) & 
                 (school_data_complete_df["reading_score"]>=70)]["Student ID"].count()/total_number_of_students*100
Overall_Passing=f"{Overall_Passing:.2f}"   
Overall_Passing

'65.17'

### District Summary Data Frame

In [337]:
# Create a dataframe to hold the above results
district_summary_df=pd.DataFrame({
"Total Schools":total_number_of_schools,
"Total Students":f"{total_number_of_students:,}",
"Total Budget":total_budget,
"Average Math Score":average_math_score,
"Average Reading Score":average_reading_score,
"% Passing Math":Percentage_of_passing_math_score,
"% Passing Reading":Percentage_of_passing_reading_score,
"% Overall Passin":Overall_Passing
},index=[0])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passin
0,15,"39,170","$24,649,428",79,82,74.98,85.81,65.17

In [338]:
# Optional: give the displayed data cleaner formatting

#district_summary_df=pd.DataFrame({
#"Total Schools":f"{total_number_of_schools:,}",
#"Total Students":f"{total_number_of_students:,}",
#"Total Budget":f"${int(total_budget_mil):,}",
#"Average Math Score":average_math_score,
#"Average Reading Score":average_reading_score,
#"% Passing Math":Percentage_of_passing_math_score,
#"% Passing Reading":Percentage_of_passing_reading_score,
#"% Overall Passin":Overall_Passing
#},index=[0])
#district_summary_df

# School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [342]:
#Create an overview table that summarizes key metrics about each school, including:

# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)

In [343]:
#See any data to clean
school_data_complete_df.tail(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [346]:
#Group by school name and type
grouped_school_name_df=school_data_complete_df.groupby(['school_name','type'])
print(grouped_school_name_df)
grouped_school_name_df.count().head(3)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fa55e189d00>

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949

In [ ]:
#Calculate total Students

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type